@model IEnumerable<KYHBPA_TeamA.Models.DisplayBoardOfDirectorsViewModel>

@{
    ViewBag.Title = "Our Board-Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="common-Uppercase text-center">Board of Directors - Administrator View</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "common-Button" })
</p>
<table class="table">
    <tr>

        <th class=" common-BodyText">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class=" common-BodyText">
            Picture
        </th>
        <th class=" common-BodyText">
            Contact Information
        </th>
        <th class=" common-BodyText">
            About Me
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetBoDImage", "BoardOfDirectors", new { item.Id })" />
            </td>

            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </div>

                <div>
                    @Html.DisplayFor(modelItem => item.Email)
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "common-Button" })

                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "common-Button" })
            </td>
        </tr>
    }

</table>
