@model IEnumerable<KYHBPA_TeamA.Models.DisplayBoardOfDirectorsViewModel>

@{
    ViewBag.Title = "Our Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/BoardOfDirectorsReadMore")

@*
    Scripts for modal library    
*@ 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<h2 class="common-Uppercase text-center">Board of Directors</h2>
<hr class="featurete-divider" />

@for (int i = 0; i <= Model.Count() / 3; i++)
{
    <div class="row boardOfDirectorsRow"> 

        @foreach (var director in Model.Skip(i * 3).Take(3))
        {
            <div class="col-md-4 boardOfDirectorsProfileImage">

                <a href="#ex@(director.Id)" rel="modal:open">
                    <img class="boardOfDirectorsImage" 
                         alt="@director.FirstName @director.LastName"
                         src="@Url.Action("GetBoDImage", "BoardOfDirectors", new { director.Id })" />
                </a>               

                <h2 class="bodImageHeader">
                    @director.FirstName @director.LastName
                </h2>
                <h5 class="pull-left">
                    @director.Title
                </h5>
                <h5 class="pull-right">
                    @director.Email
                </h5>

                <div id="ex@(director.Id)" class="modal">
                    <img src="@Url.Action("GetBoDImage", "BoardOfDirectors", new { director.Id })" />
                    <h1>
                        @director.FirstName @director.LastName
                    </h1>
                    <p>
                        @director.Description
                    </p>
                    <a href="#" rel="modal:close">Close</a>
                </div>
            </div>
        }

    </div>
}



