@model IEnumerable<KYHBPA_TeamA.Models.DisplayBoardOfDirectorsViewModel>

@{
    ViewBag.Title = "Our Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="common-Uppercase text-center">Board of Directors</h2>
<hr class="featurete-divider"/>


    @foreach (var director in Model)
    {
        <div class="col-lg-4 boardOfDirectorsImageSpace">
            <img class="boardOfDirectorsImage" src="@(string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(director.PhotoContent)))" />
        </div>
        
        <h2 class="common-Uppercase">
            @Html.DisplayFor(modelItem => director.FirstName) @Html.DisplayFor(modelItem => director.LastName)
        </h2>
        
        <h2 class="common-UppercaseTitle">
            @Html.DisplayFor(modelItem => director.Title)
        </h2>
        
        <h3>
            @Html.DisplayFor(modelItem => director.Email)
        </h3>
        
        <p class="common-LargerBodyText">
            @Html.DisplayFor(modelItem => director.Description)
        </p>


        <hr class="featurete-divider" />
    }

