@model IEnumerable<KYHBPA_TeamA.Models.DisplayBoardOfDirectorsViewModel>

@{
    ViewBag.Title = "Our Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="common-Uppercase text-center">Board of Directors</h2>
<hr class="featurete-divider" />


@foreach (var director in Model)
{
    <div class="row">

        <div class="col-md-5 boardOfDirectorsImageSpace">
            <img class="boardOfDirectorsImage" src="@(string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(director.PhotoContent)))" />
        </div>

        <div class=" col-md-7">
            <h2 class="common-Uppercase">
                @Html.DisplayFor(modelItem => director.FirstName) @Html.DisplayFor(modelItem => director.LastName)
            </h2>

            <h2 class="common-UppercaseTitle">
                @Html.DisplayFor(modelItem => director.Title)
            </h2>

            <h4>
                @Html.DisplayFor(modelItem => director.Email)
            </h4>

            <p class="boardOfDirectorsDescText">
                @Html.DisplayFor(modelItem => director.Description)
            </p>
        </div>
    </div>
        <hr class="featurete-divider" />

}
