@model PagedList.IPagedList<KYHBPA_TeamA.Models.DisplayPhotosViewModel>
@using PagedList.Mvc

@{
    ViewBag.Controller = "Photos";
    ViewBag.Title = "Administrators can view, edit, and delete photos in the landing page carousel, photo gallery," +
                "and the partner organization carousel.";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}

@using (Html.BeginForm("Admin", "Photo", FormMethod.Get))
{
    <div class="row" id="SearchArea">
        <div id="custom-search-input">
            <p>
                @Html.ActionLink("Create New", "Create", "", new { @class = "common-Button" })
            </p>
            <div class="input-group col-md-12">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search by title or description", @class = "form-control  input-lg" })
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </span>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.ActionLink("Title", "Admin", new { sortOrder = ViewBag.Title, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            Credit
        </th>
        <th>
            @Html.ActionLink("Date", "Admin", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Landing Page Carousel
        </th>
        <th>
            Partner Organization Carousel
        </th>
        <th>
            Photo Gallery
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.InPartnerOrgCarousel)
                {
                    <div class="pull-left" style="margin-right: 10px">
                        <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetPhoto","Photo",new { item.Id })" />
                    </div>
                }
                else
                {
                    <div class="pull-left" style="margin-right: 10px">
                        <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetThumbnail","Photo",new { item.Id })" />
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShorterDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InLandingPageCarousel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InPartnerOrgCarousel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InPhotoGallery)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Details", "Details", new { item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { item.Id })
            </td>
        </tr>
    }

</table>

<br />
<div class="text-center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Admin",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

