@model KYHBPA_TeamA.Models.DisplayPhotosViewModel

@{
    ViewBag.Controller = "Photos";
    ViewBag.Title = "Are you sure you want to delete this photo?";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="common-BodyText">
    @if (Model.Data != null)
    {
        <div style="max-width=200px; max-height=200px">
            <img class="img-thumbnail" @*width="100" height="100"*@ src="@Url.Action("GetPhoto", "Photo", new { Model.Id })" />
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> or
        @Html.ActionLink("Back to List", "Admin")
    </div>
}
<br />
