@model KYHBPA_TeamA.Models.DisplayPhotosViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="common-Uppercase">Details</h2>

<div>
    <h4 class="common-LargerBodyText">@Html.DisplayTextFor(model => model.Title)</h4>
    <hr />
    @if (Model.Data != null)
    {
        <div style="max-width=200px; max-height=200px">
            <img class="img-thumbnail" @*width="100" height="100"*@ src="@Url.Action("GetPhoto", "Photo", new { Model.Id })" />
        </div>
    }
    <dl class="dl-horizontal common-BodyText">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
