@model KYHBPA_TeamA.Models.EditPhotosViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="common-Uppercase">Edit Photo</h2>
<h4 class="common-LargerBodyText">@Html.DisplayTextFor(model => model.Title)</h4>

@using (Html.BeginForm("Edit", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @if (Model.Data != null)
        {
            @* This is where a thumbnail call would go*@
            <div class="editImageArea">
                <img class="img-thumbnail"; src="@Url.Action("GetPhoto", "Photo", new { Model.Id })" />
            </div>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @* Title *@
        <div class="form-group common-BodyText">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Description *@
        <div class="form-group common-BodyText">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @* InLandingPageCarousel *@
        <div class="form-group common-BodyText">
            @Html.LabelFor(model => model.InLandingPageCarousel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.InLandingPageCarousel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InLandingPageCarousel, "", new { @class = "text-danger" })
            </div>
        </div>

        @* IsPartnerOrg *@
        <div class="form-group common-BodyText">
            @Html.LabelFor(model => model.InPartnerOrgCarousel, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-1">
                @Html.EditorFor(model => model.InPartnerOrgCarousel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InPartnerOrgCarousel, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Photo Gallery *@
        <div class="form-group common-BodyText">
            @Html.LabelFor(model => model.InPhotoGallery, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.InPhotoGallery, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InPhotoGallery, "", new { @class = "text-danger" })
            </div>
        </div>


        @* Link *@
        <div class="form-group common-BodyText">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Image Upload*@
        <div class="form-group common-BodyText">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="Col-md-10">
                <input type="file" accept="image/*" name="image" id="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Admin")
</div>

