@model IEnumerable<KYHBPA_TeamA.Models.DisplayPhotosViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
<h2>Photos</h2>

<p>
    <button class="btn btn-primary col-md-2 pull-left" onclick="location.href='@Url.Action("Create", "Photo")'">Create New</button>
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InPhotoGallery)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Data != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetPhoto","Photo",new { item.Id })" />
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InPhotoGallery)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.Id }) |
            @Html.ActionLink("Details", "Details", new { item.Id }) |
            @Html.ActionLink("Delete", "Delete", new {  item.Id  })
        </td>
    </tr>
}

</table>
