@model PagedList.IPagedList<KYHBPA_TeamA.Models.DisplayPhotosViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
<h2>Photos</h2>


@using (Html.BeginForm("Index", "Photo", FormMethod.Get))
{
    @*<div class="row">
        <div class="col-md-6">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Title to search", @class = "form-control col-md-10" })
                <input type="submit" value="Search" class="btn btn-primary d-inline col-md-2 pull-right"/>
        </div>
    </div>*@
        <div class="row" id="SearchArea">
            <div class="col-md-6 pull-left">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search by Title", @class = "form-control  input-lg" })
                        <span class="input-group-btn">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
}

<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.Title, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Photo Gallery
        </th>
        <th>
            <button class="btn btn-default pull-right" onclick="location.href='@Url.Action("Create", "Photo")'">Add Photo</button>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Data != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetPhoto","Photo",new { item.Id })" />
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InPhotoGallery)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.Id }) |
            @Html.ActionLink("Details", "Details", new { item.Id }) |
            @Html.ActionLink("Delete", "Delete", new {  item.Id  })
        </td>
    </tr>
}

</table>
    
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount)

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
