@model PagedList.IPagedList<KYHBPA_TeamA.Models.DisplayPhotosViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
<h2 class="common-Uppercase text-center">Photo Gallery</h2>


@using (Html.BeginForm("Index", "Photo", FormMethod.Get))

{        <div class="row" id="SearchArea">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">                        
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search by title or description", @class = "form-control  input-lg" })
                        <span class="input-group-btn">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </span>
                    </div>
                </div>
        </div>
}



@for(int i = 0; i <= Model.Count() / 3; i++)
{
    <div class="row photoRow">

        @foreach(var photo in Model.Skip(i * 3).Take(3))
        {
            <div class="col-md-4 photoCard">
                <div class="thumbnail">
                    <img class="photoCardImage" src="@Url.Action("GetPhoto","Photo",new { photo.Id })" />
                    <h4>
                        @photo.Title
                    </h4>
                    <div class="caption">
                        @photo.Description
                    </div>

                </div>
            </div>
        }

    </div>
}

<br />
<div class="text-center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

