@model IEnumerable<KYHBPA_TeamA.Models.DisplayDocumentsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Document Library</h2>

<p>
    <button class="btn btn-primary col-md-2 pull-left" onclick="location.href='@Url.Action("Create", "Document")'">Create New</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.Id }) |
            @Html.ActionLink("Download", "Download", new { item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { item.Id })
        </td>
    </tr>
}

</table>
