@model IEnumerable<KYHBPA_TeamA.Models.DisplayDocumentsViewModel>

@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="common-Uppercase text-center">Documents Library</h2>

<table class="table">
    <tr>
        <th>
            Documents
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Content != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <a class="common-Button" target="_blank" href="@Url.Action("GetDocument","Document",new { item.Id })">
                        Download 
                    </a>
                </div>

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}

</table>
