@model IEnumerable<KYHBPA_TeamA.Models.EventDisplayViewModel>

@{ 
    Layout = null;
}

<section id="primary">
    <div class="cols container-lg">
        <section id="raceTracks">
            <h2 class="text-center common-UppercaseTitle">CHECK OUT OUR TRACK PARTNERS</h2>
            <p class="common-BodyText">
                Click on the links below to keep up with news and events at Kentucky’s Thoroughbred racetracks. We are the only organization representing horsemen at all five tracks.
            </p>
            <ul list-style="none">
                <li>
                    <a href="https://www.churchilldowns.com/" class="common-Button" target="_blank">Churchill Downs &raquo;</a>
                </li>
                <li>
                    <a href="http://www.ellisparkracing.com/" class="common-Button" target="_blank">Ellis Park &raquo;</a>
                </li>
                <li>
                    <a href="http://www.turfway.com/home" class="common-Button" target="_blank">Turfway Park &raquo;</a>
                </li>
                <li>
                    <a href="https://www.kentuckydowns.com/racing" class="common-Button" target="_blank">Kentucky Downs &raquo;</a>
                </li>
                <li>
                    <a href="https://www.Keeneland.com/" class="common-Button" target="_blank">Keeneland &raquo;</a>
                </li>
            </ul>
        </section>
        <section id="upcomingEvents">
            <h2 class="common-UppercaseTitle">Stay Current</h2>
            @if (Model == null || Model.Count() == 0)
            {
                <p>
                    There are no upcoming events.
                </p>
            }
            else
            {
                for (int i = 0; i <= Model.Count() / 2; i++)
                {
                    <div class="row">                        

                        @foreach (var item in Model.Skip(i * 2).Take(2))
                        {
                            <div class="col-md-6">
                                <div class="eventCard common-BodyText">
                                    <div class="eventHeader">
                                        <div class="eventTitle">
                                            @item.Title
                                        </div>
                                        <div class="eventDate">
                                            @if (item.StartDate != null)
                                            {
                                                @item.StartDate
                                            }
                                            else if (item.StartTime != null)
                                            {
                                                @item.StartTime
                                            }
                                        </div>
                                        <div class="eventLocation">
                                            @if (item.Location != null)
                                            {
                                                <i class="fa fa-map-marker-alt fa-1x" style="color:#072419"></i>

                                                @item.Location
                                            }
                                        </div>
                                    </div>
                                    <div class="eventBody">
                                        @item.Description
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                }

            }
        </section>
</div>
</section>


