@model KYHBPA_TeamA.Models.PhotoGalleryViewModel

@{
    Layout = null;
}

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Menu -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Photos.Count; i++)
        {
            if (i == 0)
            {
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
            }
            else
            {
                <li data-target="#carousel" data-slide-to="@i"></li>
            }
        }
    </ol>

    <!-- Items -->
    <div class="carousel-inner">

        @for (int i = 0; i < Model.Photos.Count; i++)
        {
            if (i == 0)
            {
                <div class="item active">
                    <h6 class="staticCarouselCaption">
                        Kentucky Horsemen's Benevolent and Protective Association
                    </h6>
                    <h1 class="carousel-caption">
                        @Model.Photos.ElementAt(i).Description
                    </h1>
                    <img src="@Url.Action("GetPhoto", "Photo", new { Model.Photos.ElementAt(i).Id })" />
                    <p class="carousel-credit">@Model.Photos.ElementAt(i).Credit</p>
                </div>
            }
            if (i != 0)
            {
                <div class="item ">
                    <h6 class="staticCarouselCaption">
                        Kentucky Horsemen's Benevolent and Protective Association
                    </h6>
                    <h1 class="carousel-caption">
                        @Model.Photos.ElementAt(i).Description
                    </h1>
                    <img src="@Url.Action("GetPhoto", "Photo", new { Model.Photos.ElementAt(i).Id })"  />
                    <p class="carousel-credit">@Model.Photos.ElementAt(i).Credit</p>

                </div>
            }
         }
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>