<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kentucky HBPA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container" id="fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Kentucky HBPA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Benefits", "Benefits", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Documents", "Index", "Document")</li>
                        <li>@Html.ActionLink("Photos", "Index", "Photo")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-5">
                <address>
                    <b>Kentucky HBPA</b><br />
                    3729 S. Fourth Street<br />
                    Louisville, KY 40214-1712<br />
                    </address>
            </div>
            <div class="col-md-5">
                <form action = "https://www.paypal.com/us/home" target="_blank">
                    <input type="submit" value="Donate Today!"/>
                </form>
            </div>
            <div class="col-md-2">
                <address>
                <u>Email</u>: <a href="mailto:Kentuckyhbpa@gmail.com">Kentuckyhbpa@gmail.com</a><br />
                <u>Phone</u>: (502)363-1077<br />
                <u>Toll Free</u>: (800)928-4272<br />
                <u>Fax</u>: (502)367-6800
                </address>
            </div>
            <p>&copy; @DateTime.Now.Year - Kentucky Horseman's Benevolent and Protective Association</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
