<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kentucky HBPA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" id="fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                        @Html.ActionLink("Kentucky HBPA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                       
<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                About Us
                                <span class="caret"></span>
                            </a>
                       
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Benefits", "Benefits", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Our Board", "Index", "BoardOfDirectors")</li>
                            </ul>
                        </li>                                               
                        <li>@Html.ActionLink("Documents", "Index", "Document")</li>
                        <li>@Html.ActionLink("Photos", "Index", "Photo")</li>                     
                        <li>@Html.ActionLink("Events","Index","Event")</li>
                        <li>@Html.ActionLink("Membership", "Membership", "Home")</li>
                        <li>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                                <!-value="https://www.paypal.com/us/home">


                                <!-- Display the payment button. -->
                                <input type="image" name="submit"
                                       src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_92x26.png"
                                       alt="Donate">
                                <img alt="" width="1" height="1"
                                     src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

                            </form>

</ul>
                        @Html.Partial("_LoginPartial")
</div>
          
</div>
        </div>

    @RenderSection("ImageGallery", required: false)

    <div class="container body-content">
        @RenderBody()
        <hr id="hrfooter" />
        <footer>
            <div class="text-center">
            <p id="footerinfo">&copy; @DateTime.Now.Year - Kentucky Horseman's Benevolent and Protective Association | All Rights Reserved</p>
            <p id="footerinfo">3729 S. Fourth Street | Louisville, KY 40214-1712 | (502)363-1077 | <a href="mailto:Kentuckyhbpa@gmail.com">KentuckyHBPA@gmail.com</a></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/fontawesome")
    @RenderSection("scripts", required: false)
</body>
</html>