<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1">
    <title>@ViewBag.Title - Kentucky HBPA</title>
    <meta name="google-site-verification" content="6TD4bGq9EUGbKuhiduXAvQLFyM-u3MJFx82zZYjcOaA" />
    <link rel="icon" href="~/Content/titleLogo.png" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Request.RawUrl" />
    <meta property="og:site_name" content="Kentucky HBPA" />
    <meta property="og:description"  content="Kentucky HBPA" />
    <meta name="theme-color" content="#072419" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" id="fluid">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="brandArea" style="height:50px; width:80px;">
                    <img class="hideMe" alt="kyhbpaLogo" src="~/Content/logoForKyhbpa3.png" id="brandLogo" />
                    @Html.ActionLink("KYHBPA", "Index", "Home", new { area = "" }, new { @class = "showMe brandText" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/Home/About">
                            About Us
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Learn More", "About", "Home")</li>
                            <li>@Html.ActionLink("Our Board", "Index", "BoardOfDirectors")</li>
                            <li>@Html.ActionLink("Our Staff", "Index","Staff")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/Home/About">
                            Membership
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Become a Member", "Membership", "Home")</li>
                            <li>@Html.ActionLink("Benefits", "Benefits", "Home")</li>
                            <li>@Html.ActionLink("Polls", "Polls", "Home")</li>
                            <li>@Html.ActionLink("Documents", "Index", "Document")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/Home/About">
                            News
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Events", "Index", "Event")</li>
                            <li>@Html.ActionLink("News & Blog", "Index", "Blog")</li>
                            <li>@Html.ActionLink("Racing Education", "RacingEducation", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Photo Gallery", "Index", "Photo")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            @:
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="/Admin/Index">
                                    Admin
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("News & Blog", "Admin", "Blog")</li>
                                    <li>@Html.ActionLink("Board", "Admin", "BoardOfDirectors")</li>
                                    <li>@Html.ActionLink("Staff","Admin","Staff")</li>
                                    <li>@Html.ActionLink("Events", "Index", "Event")</li>
                                    @*<li>@Html.ActionLink("Accounts", "ManageLogins", "Manage")</li>*@
                                    <li>@Html.ActionLink("Documents", "Admin", "Document")</li>
                                    <li>@Html.ActionLink("Photos", "Admin", "Photo")</li>
                                    <li>@Html.ActionLink("Memberships","Admin","Memberships")</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>

    @RenderSection("ImageGallery", required: false)

    <div class="container body-content">
        @RenderBody()
            @RenderSection("GoogleEvents", required: false)
            @RenderSection("PartnerOrg", required: false)
    </div>

    <hr class="stylishHr" />
    <footer class="footer">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <p id="footerinfo" class="common-LargerBodyText">Kentucky Horsemen's Benevolent<br />and Protective Association</p>
                    <div class="common-BodyText" style="display: inline; font-size: 87%;">
                        <a href="/Home/About">About KYHBPA</a> |
                        <a href="/Home/Benefits">Benefits</a> |
                        <a href="/Blog">News & Blog</a> |
                        <a href="/Event/Index">Calendar</a> |
                        <a href="https://paypal.com/">Donate</a>
                    </div>
                    <br />
                    <br />
                    <div style="line-height: 12px;" align="left">
                        <p class="small" style:"font-weight: bold;">Follow Us</p>
                        <a href="https://www.facebook.com/kyhbpa" target="_blank">
                            <i class="fab fa-facebook-square fa-2x" aria-hidden="true" style="color: #3B5998 !important;"></i>
                        </a>
                        <a href="https://www.twitter.com/kyhbpa" target="_blank">
                            <i class="fab fa-twitter-square fa-2x" aria-hidden="true" style="color: #1DA1F2 !important;"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fab fa-instagram fa-2x" aria-hidden="true" style="color: #fb3958 !important;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="common-LargerBodyText"><b>Contact Us</b></div>
                    <p id="footerinfo" class="common-BodyText" style="font-size: 90%;">
                        3729 S. Fourth Street<br />
                        Louisville, KY 40214-1712<br />
                        <i class="fa fa-hourglass" style="color:#072419"></i>: Monday-Friday from 8:30AM-4:30PM<br />
                        <i class="fa fa-mobile" style="color:#072419"></i>: (502)363-1077<br />
                        <i class="fa fa-envelope" style="color:#072419"></i><a href="mailto:Kentuckyhbpa@gmail.com">: KentuckyHBPA@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/fontawesome")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "Organization",
    "name": "Kentucky Horsemen's Benevolence and Protective Association",
    "url": "http://kentuckyhbpa.org/",
    "sameAs": [
    "https://www.facebook.com/KYhbpa/",
    "https://twitter.com/kyhbpa",
    "https://www.youtube.com/channel/UC8JBPymcPDRk7Gri4hU-Zlw"
    ]
    }
</script>