@model IEnumerable<KYHBPA_TeamA.Models.DisplayPostsViewModel>

@{
    ViewBag.Title = "News and Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Our latest news and blogs
</h2>


@foreach(var post in Model)
{
    <div class="row postRow">
        <div class="col-md-4 postImgArea">
            <img class="img-thumbnail" src="@Url.Action("GetBlogOrNewsImage", "Blog", new { post.Id })" />
        </div>
        <div class="col-md-7">
            <h4 class="postTitle">
                @post.Title
            </h4>
            <p class="postShortDescription">
                @post.ShortDescription
            </p>
        </div>
        <div class="col-md-1">
            <h6>
                @post.PostedOn.ToShortDateString()
            </h6>
            @Html.ActionLink("Read", "Read", "Blog", new { postId = post.Id }, new { @class = "common-ButtonVariant" })
        </div>
    </div>
}