@model IEnumerable<KYHBPA_TeamA.Models.DisplayPostsViewModel>

@{
    ViewBag.Title = "News and Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Our latest news and blogs
</h2>


@foreach(var post in Model)
{
    <div class="row postRow">
        <div class="col-md-4 postImgArea">
            <img class="img-thumbnail" src="@Url.Action("GetBlogOrNewsImage", "Blog", new { post.Id })" />
        </div>
        <div class="col-md-5">
            <h4 class="postTitle">
                @post.Title
            </h4>
            <p class="postShortDescription">
                @post.ShortDescription
            </p>
        </div>
        <div class="col-md-3">
            <div class="postDetails">
                <h6>
                    @post.PostedOn.ToLongDateString()   <span class="seperator"> / </span> @post.Comments.Count Comments
                </h6>
            </div>
            @Html.ActionLink("Read", "Read", "Blog", new { postId = post.Id }, new { @class = "common-ButtonVariant pull-right" })
        </div>
    </div>
}