@model KYHBPA_TeamA.Models.LandingPageViewModel

@{
    ViewBag.Title = "Home: Kentucky Horsemen's Benevolent and Protective Association";
}

@section ImageGallery{
    <!--Image Gallery-->
    @Html.Action("_ImageGallery", "Photo")
}


<section id="socialMediaSpan">
    <ul id="socialMediaList">
        <li>
            <div class="socialMediaListIcon" onclick="window.open('http://www.instagram.com')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#instagram"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('https://www.facebook.com/KYhbpa/')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#facebook-square"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('https://www.youtube.com/channel/UC8JBPymcPDRk7Gri4hU-Zlw')">
                <svg class="socialMediaIcon">
                    <use href="~/Content/brands.svg#youtube"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('https://twitter.com/kyhbpa?lang=en')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#twitter-square"></use>
                </svg>
            </div>
        </li>
    </ul>
</section>


<section id="primary">
    <h1 class="common-Uppercase">Kentucky Horsemen's Benevolent <br />and Protective Association</h1>
    <div class="cols container-lg">
        <section id="becomeAMember">
            <h3 class="common-UppercaseTitle">Become a Member Today!</h3>
            <p class="common-BodyText">
                You are invited to drop into the HBPA office to meet the staff and
                learn more about current projects and how you can get
                involved in helping to improve the industry. There are no membership fees.
                Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.
            </p>
            <i class="fa fa-handshake fa-6x" style="color:#072419"></i>
            <br />
            <a href="/Memberships/Create" class="common-Button">Member Registration</a>
        </section>
        <section id="learnMore">
            <h3 class="common-UppercaseTitle">Learn more about us!</h3>
            <p class="common-BodyText">
                We urge all horsemen to join the HBPA, and urge you to take an
                active role in the direction and policies of your organization.
                By doing so, you are affirming your confidence in the goals and future
                endeavors of the HBPA. Lets bring our community closer together
                and welcome new members.
            </p>
            <i class="fa fa-users fa-6x" style="color:#072419"></i>
            <br />
            <a href="/Home/About" class="common-Button">Learn more</a>
        </section>
    </div>
</section>

<section id="benefitsBar">
    <a class="common-Button" href="/Home/Membership">Become a Member!</a>
    <div class="container-lg">
        <h3 class="common-UppercaseTitle">Learn about our membership.</h3>
        <p class="common-BodyText">Horsemen helping Horsemen.</p>
        <i class="fa fa-shield-check fa-5x" style="color:#072419; padding-bottom:4px;"></i>
    </div>
</section>

<div id="socialEmbeds" class="cols container-lg">
    <section id="twitterEmbed">
        <h2 class="text-center common-UppercaseTitle" onclick="window.open('https://twitter.com/kyhbpa?lang=en')">
            <svg class="twitterIcon">
                <use xlink:href="~/Content/brands.svg#twitter-square"></use>
            </svg>
        </h2>
        <a class="twitter-timeline" data-width="340" data-height="500" href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw"></a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>

    <section id="instagramEmbed">
        <h2 class="text-center common-UppercaseTitle" onclick="window.open('http://www.instagram.com')">
            <img src="https://www.seeklogo.net/wp-content/uploads/2016/06/Instagram-logo-400x400.png" alt="instagram logo original" class="instagramIcon" />
        </h2>
        <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/742a05f5e19d5427b44d0313e41d0d52.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </section>

    <section id="facebookEmbed">
        <h2 class="text-center common-UppercaseTitle" onclick="window.open('https://www.facebook.com/KYhbpa/')">
            <svg class="facebookIcon">
                <use xlink:href="~/Content/brands.svg#facebook-square"></use>
            </svg>
        </h2>
        <div class="fb-page" data-href="https://www.facebook.com/KYhbpa/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/KYhbpa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KYhbpa/">Kentucky HBPA</a></blockquote></div>
    </section>

</div>

@section GoogleEvents{
    @Html.Action("_GoogleEvents","Event")
}

<section id="primary">
    <div class="cols">
        <div class="row" id="latestNews">
            @if (Model.LatestArticle.PhotoContent != null)
            {
                <div class="col-md-3 latestNewsTitle">
                    <h3 class="common-UppercaseTitle">Latest News</h3>
                    <i class="fa fa-newspaper fa-6x" style="color:#072419"></i>
                </div>
                <div class="col-md-9 latestNewsArticle common-BodyText">
                        <img itemprop="image" class="img-thumbnail pull-left" style="max-height:200px;" src="@Url.Action("GetBlogOrNewsImage", "Blog", new { Model.LatestArticle.Id })" />
                    <div class="latestNewsArticleHeading">
                        <h2>
                            @Model.LatestArticle.Title
                        </h2>
                        <h6>
                            @Model.LatestArticle.PostedOn.ToLongDateString()
                        </h6>
                    </div>
                    <div class="latestNewsArticleBody">
                        @Model.LatestArticle.ShortDescription
                    </div>
                    @Html.ActionLink("Read", "Read", "Blog", new { postId = Model.LatestArticle.Id }, new { @class = "common-ButtonVariant pull-right", @itemprop = "url" })
                </div>

            }
            else
            {
                <div class="col-md-4 latestNewsTitle">
                    <h3 class="common-UppercaseTitle">Latest News</h3>
                    <i class="fa fa-newspaper fa-6x" style="color:#072419"></i>
                </div>
                <div class="col-md-8 latestNewsArticle common-BodyText">
                    <div class="latestNewsArticleHeading">
                        <h2>
                            @Model.LatestArticle.Title
                        </h2>
                        <h6>
                            @Model.LatestArticle.PostedOn.ToLongDateString()
                        </h6>
                    </div>
                    <img itemprop="image" class="img-thumbnail" style="max-height:200px" src="@Url.Action("GetBlogOrNewsImage", "Blog", new { Model.LatestArticle.Id })" />
                    <div class="latestNewsArticleBody">
                        @Model.LatestArticle.ShortDescription
                    </div>
                    @Html.ActionLink("Read", "Read", "Blog", new { postId = Model.LatestArticle.Id }, new { @class = "common-ButtonVariant pull-right", @itemprop = "url" })
                </div>
            }
        </div>
    </div>
</section>

@section PartnerOrg{
    <!--Image Gallery-->
    @Html.Action("_PartnerOrgs", "Photo")
}


<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>